.header {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
}

.header >*{
    margin-left: .5rem;
    margin-right: .5rem;
}

.header > h1{
    margin-right: clamp(1rem, 8rem, 10rem);
}

.navButton{
    max-height: 3rem;
}