.frame{
    width: 100vw;
    height: 100vh;
    background-image: url('/frame.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
}

.header{
    left: 30vw;
    top: 1vh;
    width: 40vw;
    height: 25vh;
    background-image: url('/header.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    z-index: 2;
}

.headerTabs {
    position: fixed;
    left: 33vw; 
    top: 12vh;
    display: flex;
    flex-direction: row;
    background: none;
    z-index: 1;
}
.headerTab{
    position: relative;
    background-image: url('/headertab.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    animation: header-tabs-down ease-in-out 0.3s forwards;
    animation-delay: calc(var(--i) * 0.2s);
    width: 12vw;
    height: 18vh;
    z-index: -1;
    padding: 5px;
    margin-left: -5w;
    margin-right: -5vw;
    z-index: 1;
}
.headerTab >*{
    position: relative;
    left: 3vw;
    background: none;
    margin: auto;
    color: white;
    font-weight: bold;
    z-index: -1;
}

@keyframes header-tabs-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10vh);
    }
}
.menuTrigger{
    width: 16vw;
    height: 24vh;
    position: relative;
    left: 82vw;
    top: 4vh;
    background: none;
}

.menuTrigger:hover{
    cursor: pointer;
}
.menu{
    width: 10vw;
    height: 20vh;
    position: relative;
    left: 100vw;
    top: 4vh;
}

.menuBox{
    position: relative;
    right: 2vw;
    background-image: url('/menu-box.png');
    width: 15vw;
    height: 12vh;
    display: grid;
    grid-template-columns: 20% 80%;
    padding-left: 6vw;
    margin-top: -3vh;
    margin-bottom: -3vh;
}

.menuIcon{
    background: none;
    max-height: 6vh;
    margin-top: auto;
    margin-bottom: auto;
}
.menuBox > p{
    background: none;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}
.menu >*{
    animation: menu-fly-in ease-in-out 0.5s forwards;
    animation-delay: calc(var(--i) * 0.2s);
}

@keyframes menu-fly-in {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-15vw);
    }
}

.homeContent{
    display: flex;
    flex-direction: row;
}
.art{
    background: none;
    position: relative;
    height: 75vh;
    top: 12vh;
    left: 3vw;
}
.openText{
    background: none;
    position: relative;
    left: 6vw;
    top: 32vh;
}
.openText > p{
    background: none;
}



.test{
    height: 200vh;
}

