
.imageCont {
    width: 100%;
    height: 85vh;
}

.image {
    width: 100%;
    height: 85vh;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
  }
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.nextButton {
    position: absolute;
    top: 50vh;
    right: 5px;
}

.prevButton {
    position: absolute;
    top: 50vh;
    left: 5px;
} 

.nextButton, .prevButton {
    background: none;
}

.nextButton:hover, .prevButton:hover {
    background-color: rgba(0,0,0,0.8)
}
.dots {
    position: absolute;
    max-width: 20vw;
    top: 90vh;
    left: 50vw;
    text-align: center;
    justify-content: space-between;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin-left: .5vw;
    margin-right: .5vw;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin-left: .5vw;
    margin-right: .5vw;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    background-color: #717171;
}

.dot:hover {
    background-color: #717171;
}  

.overlay {
    text-align: center;
    margin-left: 29vw;
    position: absolute;
    top: 40vh;
}

.overlay > h1 {
    opacity: 1;
    font-size: 3rem;
    text-shadow: 1px 1px 2px rgb(113, 5, 5), 0 0 1em rgb(68, 26, 26), 0 0 0.2em rgb(9, 9, 9);
    color: white;
}

.overlay > h1:hover {
    text-shadow: 4px 4px 8px rgb(113, 5, 5), 0 0 4em rgb(68, 26, 26), 0 0 0.2em rgb(9, 9, 9);
}

.overlay > p {
    color: white;
    margin-top: .3rem;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgb(113, 5, 5), 0 0 1em rgb(68, 26, 26), 0 0 0.2em rgb(9, 9, 9);
}

.overlay > p:hover {
    text-shadow: 4px 4px 8px rgb(113, 5, 5), 0 0 4em rgb(68, 26, 26), 0 0 0.2em rgb(9, 9, 9);
}
.overlay > button {
    margin-top: 1rem;
}

.overlay > button:hover {
    transition: all 300ms ease-in-out;
    transform: scale(1.1);
}