.header {
    display: grid;
    grid-template-columns: 33% 66%;
    max-height: 14vh;
    line-height: 5rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: .5rem;

    background-color: black;
    color: white;

    position: fixed;
    top: 0; 
    width: 100%;
}

.branding{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
}

.navbarIcon {
    max-height: 75px;
    padding-right: .5rem;
    transition: max-height 0.5s ease;
}

.navbarIcon:hover {
    max-height: 80px;
}

.navbarName {
    color: white;
    padding-right: 5rem;
    font-size: .6rem;
    transition: font-size 0.5s ease;
}

.navbarName:hover {
    color: white;
    text-shadow: 8px 8px 8px rgb(67, 60, 60);
    font-size: .7rem;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.links > a {
    align-items: end;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    transition: font-size 0.3s ease;
    padding-left: 3rem;
}

.links > a:hover {
    color: white;
    text-shadow: 8px 8px 8px rgb(67, 60, 60);
    text-decoration: underline;
    font-size: 1.4rem;
}