.header {
    align-items: start;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    max-height: 5rem;
    line-height: 5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;

    background-color: black;
    color: white;
}

.branding{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.navbarIcon {
    max-height: 75px;
    padding-right: .5rem;
    transition: max-height 0.5s ease;
}

.navbarIcon:hover {
    max-height: 80px;
}

.navbarName {
    color: white;
    padding-right: 5rem;
    font-size: 1rem;
    transition: font-size 0.5s ease;
}

.navbarName:hover {
    color: white;
    text-shadow: 8px 8px 8px rgb(67, 60, 60);
    font-size: 1.05rem;
}


.header > a {
    align-items: end;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    transition: font-size 0.3s ease;
    padding-left: 3rem;
}

.header > a:hover {
    color: white;
    text-shadow: 8px 8px 8px rgb(67, 60, 60);
    text-decoration: underline;
    font-size: 1.4rem;
}