.content {max-width: 100%;
    margin: none;
    display: grid;
    grid-template-columns: 15% 85%;
}

.sidebar {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: .2rem;
    padding: 1rem;
}

.sidebarButton {
    max-height: 1 rem;
    max-width: 12rem;
    padding: .1rem;
    line-height: .7rem;
}


.mainContent {
    padding-left: 2rem;
}
