.content {
    margin-top: 20vh;
    padding: 1rem;
}

.mainPost {
    display: flex;
    flex-direction: column;
}

.mainTitle {
    display: flex;
    flex-direction: row;

}

.mainText{
    border: 5px solid white;
    border-radius: 5px;
    padding: .5rem;
    margin: 1rem;
    max-width: 50rem;
}

.reply{
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
}
.reply > p {
    border: 2px solid white;
    border-radius: 5px;
    padding: .5rem;
    margin-left: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    max-width: 35rem;
}

.replyTitle{
    display: flex;
    flex-direction: row;
}

.replyTitle:hover .editButton{
    visibility: visible;
}


.editButton {
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    max-height: 1.5rem;
    visibility: hidden;
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.likes {
    margin-top: .5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}
.likeButton {
    margin-left: .5rem;
    max-height: 1.5rem;
    visibility: hidden;
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.likes:hover .likeButton {
    visibility: visible;
}

.mainTitle:hover  .editButton {
    visibility: visible;
}

.editButton:hover, .likeButton:hover{
    cursor: pointer;
}